In [1]:
#Base de los libros
import pandas as pd
libros = pd.read_csv('bbdd_ratings.csv')
dflibros= libros.groupby('Id').first().reset_index()

In [3]:
dflibros.to_excel('bbdd_rating.xlsx', index=False)

In [4]:
dflibro = pd.read_excel('bbdd_rating.xlsx')
dflibro.head()

,Id,Title,User_id,review/score,image
0,0,Economics in one lesson,A2FYWUHFF21Q8F,5,http://books.google.com/books/content?id=A50iB...
1,1,The Scarlet Letter A Romance,A1D00LCJ34YBUW,1,NaN
2,2,Dr. Bernstein's Diabetes Solution: The Complet...,A3PX2REO79VZ6B,5,http://books.google.com/books/content?id=AeM0A...
3,3,Mothman Prophecies,A1QLJQCTVJAZFE,2,http://books.google.com/books/content?id=A6Zzg...
4,4,"Prodigal Son (Dean Koontz's Frankenstein, Book 1)",A2PIP41I6PM8TP,4,http://books.google.com/books/content?id=XE_Ot...

In [5]:
dflibros.head()

,Id,Title,User_id,review/score,image
0,0,Economics in one lesson,A2FYWUHFF21Q8F,5.0,http://books.google.com/books/content?id=A50iB...
1,1,The Scarlet Letter A Romance,A1D00LCJ34YBUW,1.0,None
2,2,Dr. Bernstein's Diabetes Solution: The Complet...,A3PX2REO79VZ6B,5.0,http://books.google.com/books/content?id=AeM0A...
3,3,Mothman Prophecies,A1QLJQCTVJAZFE,2.0,http://books.google.com/books/content?id=A6Zzg...
4,4,"Prodigal Son (Dean Koontz's Frankenstein, Book 1)",A2PIP41I6PM8TP,4.0,http://books.google.com/books/content?id=XE_Ot...

In [3]:
import pickle
import os

# Cargar el archivo grande
with open('matriz_recomendaciones_long.pkl', 'rb') as f:
    data = pickle.load(f)

# Calcular el tamaño de cada parte en bytes (20 MB)
part_size = 20 * 1024 * 1024

# Convertir el objeto a bytes para dividirlo
data_bytes = pickle.dumps(data)

# Dividir el archivo en partes más pequeñas
parts = [data_bytes[i:i + part_size] for i in range(0, len(data_bytes), part_size)]

# Guardar cada parte en un archivo separado
for i, part in enumerate(parts):
    with open(f'part_{i}.pkl', 'wb') as f:
        f.write(part)

In [4]:
import pickle

# Combinar las partes
data_bytes = bytearray()
num_parts = len([name for name in os.listdir() if name.startswith('part_')])

for i in range(num_parts):
    with open(f'part_{i}.pkl', 'rb') as f:
        part = f.read()
        data_bytes.extend(part)

# Convertir los bytes combinados de nuevo al objeto original
data = pickle.loads(data_bytes)

data.head()

   id1  id2  similitud                                              image
1    0    2   0.000000  http://books.google.com/books/content?id=AeM0A...
2    0    3   0.000000  http://books.google.com/books/content?id=A6Zzg...
3    0    4   0.000000  http://books.google.com/books/content?id=XE_Ot...
4    0    6   0.005578  http://books.google.com/books/content?id=hrJdI...
5    0    8   0.001709  http://books.google.com/books/content?id=GGNeA...

In [5]:
matriz_recomendaciones_long = pd.read_pickle("matriz_recomendaciones_long.pkl")
matriz_recomendaciones_long.head()

   id1  id2  similitud                                              image
1    0    2   0.000000  http://books.google.com/books/content?id=AeM0A...
2    0    3   0.000000  http://books.google.com/books/content?id=A6Zzg...
3    0    4   0.000000  http://books.google.com/books/content?id=XE_Ot...
4    0    6   0.005578  http://books.google.com/books/content?id=hrJdI...
5    0    8   0.001709  http://books.google.com/books/content?id=GGNeA...

In [6]:
matriz_recomendaciones_long.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3974790 entries, 1 to 7949579
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   id1        int64
 1   id2        int64
 2   similitud  float64
 3   image      object
dtypes: float64(1), int64(2), object(1)
memory usage: 151.6+ MB

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3974790 entries, 1 to 7949579
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   id1        int64
 1   id2        int64
 2   similitud  float64
 3   image      object
dtypes: float64(1), int64(2), object(1)
memory usage: 151.6+ MB